.table1, .th1, .td1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  border-collapse: collapse;
  border: 6px ridge rgb(102, 102, 102);
  height: 50px; 
  padding-bottom: 125px;
  width: 25%; 
  }
    
  body {
      background-color: rgb(36, 36, 36);
      color: white;
    }
  
  .center {
     display: border;
     margin-top: -600px;
     margin-left: 500px;
     margin-bottom: 190px;
     margin-right: auto;
     width: 55%;
  }

